.profilepage-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #ffffff;
  padding: 10px 12px;
}

.profilepage-navbar h4 {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 0px;
  color: var(--blue);
}

.profilepage-container {
  min-height: 100%;
  margin-top: 70px;
  padding: 20px 12px 80px;
}

.profile-image-container {
  position: relative;
  display: inline-block;
}

.profilepage-profile-photo {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 20px;
  border: 2px solid #cac8c8;
}

.edit-icon-container {
  position: absolute;
  bottom: -10px;
  right: -12px;
  background-color: white;
  border-radius: 100%;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.edit-icon {
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}

.file-input {
  display: none;
}

.profilepage-container h2 {
  font-weight: 700;
  font-size: 26px;
}

.profilepage-container .user-post-profile {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #bbbbbb;
}

.profilepage-container h6 {
  font-size: 18px;
}

.profilepage-container .wrapper-div {
  border-radius: 15px;
}

.profilepage-container .image-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  /* border-radius: 20px; */
}

.profilepage-container .image-div img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.profilepage-container .email-icon {
  width: 30px;
  font-size: 22px;
  display: flex;
  align-items: center;
}

.profilepage-container .email-profile-column p {
  font-size: 16px;
}

.logout-button {
  font-size: 24px;
  font-weight: 900;
  color: red;
  background: #f1d5d5;
  border-radius: 10px;
  padding: 2px;
}

.delete-button{
  font-size: 24px;
  font-weight: 900;
  padding: 2px;
}

.profilepage-container .average-rating{
  padding: 10px;
  /* background-color: var(--blue); */
  border-radius: 10px;
  background-color: #ebebeb;
  color: #6d6f6f !important;
}

.profilepage-container h5 {
  font-size: 18px;
}